<h1>Lobby</h1>

<ng-container *ngIf="currentPlayer$ | async as currentPlayer">
    <div border="1" *ngIf="currentPlayer.playerName; else noCurrentPlayer">
        <p>You are {{currentPlayer.playerName }}.</p>
        <p>Your ID is {{currentPlayer.playerId }}.</p>
    </div>
</ng-container>


<div>
    <input type="text" size="10" #test>
    <button (click)="setPlayer(test.value)" style="margin-top: 5px; width:80px;">Set player</button>
</div>

<app-game-list [games]="games$ | async" 
    [currentPlayer]="currentPlayer$ | async"
    (joinRoomEvent)="joinRoom($event)">
</app-game-list> 

<h3>Create Room</h3>
<form [formGroup]="newRoomForm">
    <input type="text" formControlName="gameName" placeholder="gameName">
        <button (click)="processNewRoom()" [disabled]="!(isCurrentPlayerSet$ | async)">Create Game</button>
</form>

<ng-template #noCurrentPlayer>
    <p>You are nobody.</p>
</ng-template>