<h3>Game List</h3>
<div *ngIf="games != null">
    <table border="1">
        <tr>
            <td>No.</td>
            <td>Game Name</td>
            <td>Game Status</td>
            <td>Players</td>
            <td>Game ID</td>
            <td></td>
        </tr>
        <tr *ngFor="let game of games ?? []; let i = index;">
            <td>{{i}}</td>
            <td>{{game.gameName}}</td>
            <td>{{game.gameState}}</td>
            <td>{{game.players.length}}</td>
            <td>{{game.gameId}}</td>
            <td><button (click)="joinRoom(game.gameId)">Join</button></td>
        </tr>
    </table>
</div>