

    <h1>Game Details</h1>
    <div>Game Name: {{ this.gameName }}</div>
    <div>Game State: {{ this.gameState }}</div>
    <div>Current Phase: {{ this.currentPhase}}</div>
    <h2>Current Player</h2>
      <table border="1">
        <tr>
          <td>Name</td>
          <td>Role</td>
          <td>State</td>
        </tr>
        <tr>
          <td>{{ this.currentPlayer.name }}</td>
          <!-- <td>{{ this.currentPlayer.role }}</td> -->
          <td>{{ this.currentPlayer.state }}</td>
        </tr>
      </table>
    <div>
      <h2>Players</h2>
      <table border="1">
        <tr>
            <td>Name</td>
            <!-- <td>Role</td> -->
            <td>State</td>
        </tr>
        <tr *ngFor="let player of this.players">
            <td>{{player.name}}</td>
            <!-- <td>{{player.role}}</td> -->
            <td>{{player.state}}</td>
        </tr>
    
      </table>
    </div>

<button (click)="setPhaseButton()">Set phase</button>
<button (click)="setStateButton()">Set game state</button>
